<footer class="footer mt-auto py-3 border-top"> 
    <div class="container">
        <span class="text-center">Derechos reservados @XYZ 2022</span>
    </div>
</footer>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>